:root {
  --primary-color: #CF402A;
    --linear-gradient: linear-gradient(to right, #CF402A, #E87C3B);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
